.treeNodeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap : 2px;
}

.treeNode {
  display: flex;
  justify-content: flex-start;
  width: fit-content;
  max-width: 100px;
  padding : 0.25rem;
  color : grey;
  font-size: 0.5rem;
  border: 1px dashed grey;
  background-color: #fff;
  position: relative;
}

.newNodeModal {
  background-color: white;
  z-index: 200;
  position: absolute;
  top : 40%;
  right : -50px;
  left: 0;
  color : grey;
  font-size: 0.45rem;
  text-align: center;
  padding : 0.5rem;
  display: none;
  min-width: 150px;
}

.newNodeAction {
  border : none;
  margin : 0.2rem;
  padding : 0.1rem;
  color: grey;
}

.newNodeAction:hover {
  cursor: pointer;
}

.treeNode > h1 {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  width : 100%;
  overflow: hidden;
}

.serviceTag {
  width : 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #cf6679;
  position: absolute;
  right: -5px;
  top : -5px;
}  

.treeNode[level="0"] {
  background-color: orange;
  border: 1px solid orange;
  color : #fff;
}

.treeNode[level="1"] {
  background-color: #2196f3;
  border: 1px solid #2196f3;
  color : #fff;
}

.treeNode[level="2"] {
  background-color: #ccc;
  border: 1px solid #ccc;
  color : #fff;
}

.treeNode > input {
  all : unset;
  font-size: 0.8rem;
  width: 75px;
}

/* render the upper arrow */
/* .treeNode::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  background-color: grey;
  top : 0;
  left: 50%;
  transform: translateY(-100%);
  display: block;
}

.treeNode::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  background-color: grey;
  bottom : 0;
  left: 50%;
  transform: translateY(100%);
  display: block;
} */


.root {
  background-color: #fff;
  border: 1px dashed grey;
  font-size: 0.55rem;
}

/* .root::after {
  display: none;
} */

.treeNodeBranchVertical {
  width: 1px;
  height: 10px;
  background-color: grey;
  position: relative;
}

.treeNodeContainer > svg {
  position: absolute;
}

div:has( > div.treeNodeBranchVertical) {
  display: flex;
  justify-content: center;
  width: 100%;
}

div:has( > div.treeNodeBranchVertical[type="large"]) {
  display: flex;
  justify-content: center;
  width: 100%;
}


.nodeChildren {
  display: flex;
}

.actionBtn {
  border: none;
  background-color: transparent;
}

.actionBtn > svg {
  width : 15px;
  aspect-ratio: 1 / 1;
  padding : 0;
  margin : 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionBtn[disabled] > svg {
  display: none;
}


.actionBtn > svg:hover {
  cursor: pointer;
}


.actionBtn[variant="primary"] > svg {
  background-color: #ccc;
  color : #fff;
}

.actionBtn[variant="warning"] > svg {
  background-color: orange;
  color : #fff;
}

.actionBtn[variant="success"] > svg {
  background-color: green;
  color : #fff;
}

.actionBtn[variant="error"] > svg {
  background-color: red;
  color : #fff;
}

.line {
  stroke: rgba(255, 0, 0);
  stroke-width: 2;
  position: absolute;
}